@import './reset.css';
@import './global/variables.css';
@import './themes/light.css';
@import './themes/dark.css';

.app {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrapper {
  display: flex;
  flex: 1;
}

.page-content {
  display: flex;
  flex: 1;
}
.page-content > :first-child {
  flex: 1;
}

.active {
  color: red;
}