@import './reset.css';
@import './global/variables.css';
@import './themes/dark.css';
@import './themes/light.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.app {
  background-color: var(--bg-color-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: var(--color-primary);
}

.page-wrapper {
  display: flex;
  flex: 1;
}

.page-content {
  display: flex;
  flex: 1;
}
.page-content > :first-child {
  flex: 1;
}

.active {
  color: var(--color-accent);
}