.button {
  padding: 8px 16px;
  border-radius: 20px;
  color: var(--text-primary);
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}

.accent {
  border: none;
  background-color: var(--color-accent);
  color: var(--text-primary-inverted);
}

.outlined {
  border: 2px solid var(--color-accent);
}

.clear {
  border: none;
  padding: 0;
  border-radius: 0;
}
