.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
  border-bottom: 1px solid var(--bg-color-primary-inverted);
  padding-inline: 30px;
}

.links {
  display: flex;
  gap: 10px;
}
